.card {
    padding: 0.4em;
    
    background-color: rgb(var(--background-color));

    outline: var(--default-outline);
    border-radius: 0.2em;
    
    box-shadow: var(--default-box-shadow);
}

.card__header {
    display: flex;
    justify-content: space-between;
}

.card__title {
    flex-grow: 1;
    text-transform: uppercase;
}

.card__image {
}

.card__blurb {
}
