@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --background-color: 255, 255, 255;

    --text-color: black;
    --text-color-fade: #707070;

    --default-font-family: "Poppins", sans-serif;
    --default-outline: 1px inset rgba(0, 0, 0, 0.1);
    --default-border-radius: 0.25em;

    --default-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    --default-box-shadow-heavy: 0 0 6px 0 rgba(0, 0, 0, 0.4);

    --primary-color: #0087ff;
    --primary-color-alt: white;

    --secondary-color: #ddefff;
    --secondary-color-alt: var(--primary-color);
}

body {
    margin: 0;

    background-color: #ecf8ff;
    color: var(--text-color);

    font-family: var(--default-font-family);
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 600;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a,
a:visited {
  color: var(--color);
}

/* media queries?: */
.container {
    margin: 0 auto;
    max-width: 1536px;
}

.page__container {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.divider {
    width: 1px;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);
    
    box-shadow: var(--default-box-shadow);
}

/* buttons & input: */
button,
input, 
input[type="submit"],
input[type="reset"] {
    all: unset;
}

input::placeholder {
    color: var(--text-color-fade);
}

.button--primary {
    padding: 0.4em;
    
    background-color: var(--primary-color);
    color: var(--primary-color-alt);
    
    outline: var(--default-outline);
    border-radius: var(--default-border-radius);
    
    box-shadow: var(--default-box-shadow);
    transition: box-shadow 0.2s;
}

.button--primary:hover {
    box-shadow: var(--default-box-shadow-heavy);
}

.button--secondary {
    padding: 0.4em;
    
    background-color: var(--secondary-color);
    color: var(--secondary-color-alt);
    
    outline: var(--default-outline);
    border-radius: var(--default-border-radius);
    
    box-shadow: var(--default-box-shadow);
    transition: box-shadow 0.2s;
}

.button--secondary:hover {
    box-shadow: var(--default-box-shadow-heavy);
}
