@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
    --background-color: 255, 255, 255;

    --text-color: black;
    --text-color-fade: #707070;

    --default-font-family: "Poppins", sans-serif;
    --default-outline: 1px inset rgba(0, 0, 0, 0.1);
    --default-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

body {
    color: var(--text-color);
    
    font-family: var(--default-font-family);
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* media queries?: */
.container {
    margin: 0 auto;
    max-width: 1536px;
}
