:root {
    --background-color: 255, 255, 255;

    --default-outline: 1px inset rgba(0, 0, 0, 0.1);
    --default-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* media queries?: */
.container {
    margin: 0 auto;
    max-width: 1536px;
}
