header {
    display: flex;
    justify-content: space-between;

    padding: 1em;

    background-color: rgb(var(--background-color));
    box-shadow: var(--default-box-shadow);
}

.header__title {
    display: flex;
    align-items: center;
}

.header__title h1,
.header__title h2,
.header__title h3 {
    line-height: 1.2;
}

.header__links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.account {
    background-color: #37b86b;
}
